body{
  font-family: 'Poppins', sans-serif;
  width: 75%;
  margin: auto;
  display: block;
}
h2{
  cursor: pointer;
  transition: 1.0s;
}
h2:hover{
  transform: scale(1.1);
}
legend{
  font-weight: bold; 
  color: #252525;
  cursor: pointer;
  transition: 1.0s;
}
select{
  cursor: pointer;
}